* {
  margin: 0;
  padding: 0;
  font-size: 1.02em;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Comic Neue';
  font-weight: 600;
  min-height: 100vh;
  display:flex;
}

nav {
  position: fixed; 
  height: 100vh;
  width: 350px;
  min-width: 300px;
  background-color: #f1f1f1;
  color: #6a1c2c;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  margin-top: 15px;
}

nav ul li a {
  display: inline-block;
  background-color: #6a1c2c;
  color: #fff;
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s ease;
  cursor: pointer;
  margin: 5px;
}

nav ul li a:hover {
  background-color: #a23446;
  letter-spacing: 2px;
}

li::marker {
  color: #6a1c2c;
}

main {
  margin-left: 350px;
  padding: 40px 80px;
  flex-grow: 1;
  text-align: justify;
}

.pfp-img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
  border: 3px solid #6a1c2c;
}

main h2{
  text-decoration: underline;
  padding-bottom: 10px;
}

nav h2{
  text-align: center;
}

h2 {
    color: #6a1c2c;
  font-size: 2em;
}

p {
  margin:  10px 0px;
}

hr {
  margin: 30px 0px;
}

main ul{
  margin-left: 30px;
}

h3{
      color: #6a1c2c;
      text-decoration: underline;
      
      padding-top: 10px;

      font-size: 1.4em;
}

.grey {
  color: #8e8e8e;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 20px;
}

.project-card {
  background-color: #fff;
  border: 2px solid #6a1c2c;
  border-radius: 20px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #6a1c2c;
  text-decoration: none;
}
.card-content a {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #6a1c2c;
  text-decoration: none;
}

.card-content a:hover {
  font-size: 1.1em;
  margin-bottom: 5px;
  color: #6a1c2c;
  text-decoration: underline;

}

.card-content p {
  font-size: 0.9em;
  margin-bottom: 5px;
}


.tags {
  font-size: 0.8em;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tags span {
  background-color: #a6a6a6;
  color: white;
  padding: 4px 10px;
  font-size: 0.85em;
  border-radius: 20px;
  white-space: nowrap;
}


.kolor {
    color: #6a1c2c;

}